*{
    color:#fff;
}

.navbar-toggler{
    padding:4px 7px;    
    background-color: var(--global-color-secondary)!important;
    color:var(--global-color-secondary)!important;
  
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
     box-shadow: 0 0 0 var(--global-color-secondary); 
}
span.navbar-toggler-icon{
    width: 1em;
    height: 1em;
    background-color: var(--global-color-secondary)!important;
    color:var(--global-color-secondary)!important;
}
.nav-link{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.fa {
    background-color: #25D366!important;
    border-radius: 30px;
}
.fa:hover {
    background-color: var(--global-color-secondary)!important;
    border-radius: 30px;
}
.nav-link:hover{
    color:var(--global-color-secondary);
}
