<div class="footer-line"></div>

<footer>
    <br/>
    <div class="container-fluid   p-lg-3 p-md-2 p-sm-2 p-xs-2 ">
        <div class="row  d-flex justify-content-center align-items-center text-white">
           
            <div class="col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <h6 class="navbar-brand footer-brand-name footer-link">Siragugal</h6>
                <p>Siragugal – Artist Makeup Business Services For Makeup & Beauty Business Services.</p>
            </div>
            <div class="col-12 col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <h6 class="fw-500 footer-link">QUICK LINKS</h6>
                <ul>
                    <li><i aria-hidden="true" class="fa fa-angle-right"></i><a href="#">Home</a></li>
                    <li><i aria-hidden="true" class="fa fa-angle-right"></i><a href="#">About us</a></li>
                    <li><i aria-hidden="true" class="fa fa-angle-right"></i><a href="tel:+919003804788">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <h6 class="fw-500 footer-link">SERVICES</h6>
                <ul>
                    <li><i aria-hidden="true" class="fa fa-angle-right"></i><a href="#">Makeup Artist</a></li>
                    <li><i aria-hidden="true" class="fa fa-angle-right"></i><a href="#">Dress Design</a></li>
                    <li><i aria-hidden="true" class="fa fa-angle-right"></i><a href="#">Event Makeup</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <h6 class="footer-link">INFORMATION</h6>
                <p>Thiruvannamalai<br/>TamilNadu, India<br/>Contact: <a href="tel:+919003804788" class=""> +91 9003804788 (click to call me)</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex text-white justify-content-center ">
                <p >Copyrights &copy; 
                    <span class="copyrights-text">
                        Creative Logic
                    </span>
                   </p>
            </div>
        </div>
    </div>
</footer>