<div class="container text-white" id="home">
    <div class="row p-lg-2 p-md-1 p-sm-1 p-xs-1 m-lg-2 m-md-1">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12  d-flex justify-content-center   align-items-center">
            <div class="hero-header-box">
                <h1 class="hero-header ">
                    WE MAKE PERFECT LOOK YOUR ACTION SHOW
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis quam facilis itaque dolor nam dolorem voluptatibus, tenetur recusandae deserunt voluptatem minima id, veritatis ab totam quibusdam. Nihil, eveniet dolorum.</p>
                <button class="btn btn-danger">
                    <a href="tel:+919003804788" class="call-me"> Contact Now</a>
                </button>
                <br/>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2 d-flex justify-content-center" >
            <img class='img-fluid hero-img' src="../../assets/images/makeup_images/siragugal_bridal_makeup_2.jpeg"
                alt="">
        </div>
    </div>
</div>