<br id="aboutus"/>
<br/>
<div class="container text-white" >
    <div class="row  p-lg-2 p-md-1 p-sm-1 p-xs-1 m-lg-2 m-md-1  d-flex justify-content-center  align-items-center">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center p-2">
            <img src="../../assets/images/makeup_images/siragugal_bridal_makeup_2.jpeg" class="img-fluid about-img" alt="{{alt_text}}" title="{{alt_text}}">
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12  d-flex justify-content-center">
         <div class="about-container">
            <div class="about-me-container col-12 ">
                <h2 class="about-header">ABOUT ME  <span class="about-line"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2>
                <h3 class="about-story">ABOUT MY STORY</h3>
                <p class="about-para">I am Sheeba and works in film and media. Works in film and media . A Digital agency media
                    firm is a business.<br/>
    
                    Of one or more experts that provides professional work. The phrasal sequence of the Lorem Ipsum. Media
                    firm is a business of one or more experts that provides professional work. The phrasal sequence of the
                    Lorem Ipsum. The phrasal sequence of the Lorem Ipsum.</p>
            </div>
                <div class="achievement-container ">
                    <h4>Get different award my achivement work</h4>
                   <div class="container">
                    <div class="row">
                             <!-- <div class="achievement-images d-flex justify-content-center">
                                
                        <div class=" d-flex justify-content-center col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 p-3">
                        <img  src="../../assets/images/award/award1.png" alt="{{alt_text}}" title="{{alt_text}}">
                        
                    </div>
                            
                    <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 p-3">
                        <img  src="../../assets/images/award/award2.png" alt="{{alt_text}}" title="{{alt_text}}">
                        
                    </div>
                            
                    <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 p-3">
                        <img  src="../../assets/images/award/award3.png" alt="{{alt_text}}" title="{{alt_text}}">
                        
                    </div>
                        </div> -->
                    </div>
                   </div>
                </div>
         </div>
         
        </div>
    </div>
</div>