.service-header{
    font-weight: 900;
    font-size:3em;
}
.service-para{
    font-size: 1.5em;
}
@media screen and (max-width:500px) {
 
    .service-header{
        font-size: 5vh;
        font-weight: 900;
    letter-spacing: 2px;
    }
}